.headerNav {
  margin-top: 60px;
  padding: 30px;
  position: fixed;
  right: 0;
  z-index: 999;
}

.headerNav .button {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #e76168;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;
}

.headerNav .burger {
  position: relative;
  width: 25px;
  height: 3px;
  background-color: white;
  border-radius: 2px;
  transition: transform 0.3s;
}

.headerNav .burger::after,
.headerNav .burger::before {
  content: "";
  position: absolute;
  width: 25px;
  height: 3px;
  background-color: white;
  border-radius: 2px;
  transition: transform 0.3s;
}

.headerNav .burger::after {
  top: 7px;
}

.headerNav .burger::before {
  top: -7px;
}

.headerNav .burger.burgerActive {
  background-color: transparent;
}

.headerNav .burger.burgerActive::after {
  transform: rotate(45deg);
  top: 0;
}

.headerNav .burger.burgerActive::before {
  transform: rotate(-45deg);
  top: 0;
}
